APP_NAME="Starter Kit"
BASE_URL="/starter-kit"

DB_HOST=localhost
DB_NAME=starter
DB_USER=root
DB_PASS=

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

; OAuth (optional)
; Google: https://console.cloud.google.com/ -> APIs & Services -> Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

; GitHub: https://github.com/settings/developers -> OAuth Apps
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
